body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;

}

.formulario {
    margin-top: 150px;
    padding: 3px;
    backdrop-filter: blur(0.2px);
    background-color: rgba(162,93,122,0.6);
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;;
}


input[type="email"],
input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    backdrop-filter: blur(0.2px);
    background-color: rgba(162,93,122,0.4);

}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
    backdrop-filter: blur(0.2px);
    background-color: rgba(162,93,122,0.4);
}

::placeholder 
{
    color: black;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: black;
}

.registerbtn {
    border: none;
    width: 100%;
    color: white;
    background-color: #1a2537;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 0;
}

.button:hover {
    background: cadetblue;
}

p {
    color: black;
    text-align: center;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
}
.conregis {
    color: rgba(162,93,122,0.4);
    text-align: center;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
}

.mensaje-error {
    text-align: center;
}

.span {
    color: red;
    font-weight: 900;
    font-size: medium;
    margin-left: 20px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
}

.link:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}